doctype html
html(lang="en")
  head
    title Motion project
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css" href="./css/style.css")
    script(src="./js/main.js" defer)
  body.app
    //- include includes/header.pug
    header.banner
      h1 Motion
      ul
        li
          button(class="video" id="new-video") VIDEO
        li
          button(class="image" id="new-image") IMAGE
        li
          button(class="note" id="new-note") NOTE
        li
          button(class="todo" id="new-todo") TODO
    main.document
    footer
      p Copyright © 2023
