@import './reset.scss';

:root {
    --bg-main-color: #00000080;
    --bg-accent-color: #2d2d2d;
    --accent-color: #f64435;
    --text-accent-color: #ffe498;
    --text-edit-bg-color: #575757;
    --border-color: #3f3f3f;
    --shadow-color: #202020;
    --document-bg-color: #68686850;
    --component-bg-gradient: radial-gradient(
        circle,
        #646464e6 0%,
        #363636e6 100%
    );
    --smokywhite: #dddbd8;
    --black: #000000;
    --translucent-black: #00000099;
}

html {
    background-image: url('../images/background.png');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

// Layout
body {
    width: 80%;
    max-width: 1000px;
    min-width: 600px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    .dialog {
        margin-top: 200px;
        width: 80%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: var(--bg-accent-color);
        color: var(--smokywhite);
        button {
            color: var(--smokywhite);
            font-size: 15px;
            border: var(--text-edit-bg-color) solid 3px;
            border-radius: 5px;
        }
        .dialog__submit {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .close {
            position: absolute;
            top: 10px;
            left: 10px;
        }
        #dialog__body {
            .form__container {
            }
        }
    }
}

header {
    position: fixed;
    top: 0;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 0px;
    padding-bottom: 20px;
    background-color: rgba(1, 1, 1, 0.6);
    h1 {
        font-size: 35px;
        font-weight: 800;
        padding: 20px 0;
        color: #f64435;
    }
    ul {
        display: flex;
        justify-content: center;
        li {
            width: 100px;
            text-align: center;
            padding: 10px 0;
            margin: 0 3px;
            background-color: #f64435;
            cursor: pointer;
            button {
                color: white;
                font-size: 17px;
                font-weight: 700;
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(1, 1, 1, 0.6);
    position: absolute;
    bottom: 0;
    margin: 0;
}
